$color-1: #0a3c3a;
$color-2: #065451;
$color-3: #047c6a;
$color-4: #129990;
$color-5: #3bb6a4;
$color-6: #7ac0b9;
$color-7: #b8e4de;
$color-8: #e0f7f4;
$color-9: #e5fefe;
$color-10: #fafdff;

$color-11: #174d3b;
$color-12: #1e6a4a;
$color-13: #23885a;
$color-14: #27a76b;
$color-15: #3ccf8e;
$color-16: #6ee7b7;
$color-17: #a5f3d1;
$color-18: #d0fae7;
$color-19: #e6fcf3;
$color-20: #f6fefa;

$toast-red: #e94f4f;
$toast-green: #2ec472;

$bg-color-1: #d3eeeb;
$bg-color-2: #bce5e0;
$nav-height: 75px;
$nav-scroll-height: 70px;

$text-size-1: clamp(3.2rem, 4vw, 4rem);
$text-size-2: clamp(2.4rem, 3vw, 2.8rem);
$text-size-3: clamp(1.8rem, 2.2vw, 2.2rem);
$text-size-4: clamp(1.3rem, 1.5vw, 1.5rem);
$text-size-5: clamp(1rem, 1vw, 1.2rem);

$text-color-1: #0a3c3a;
